header {
  width: 100%;
  height: 60px;
  background-color: black;
}
h1 {
  float: left;
  color: white;
  margin: auto 0;
}
ul {
  float: right;
  line-height: 40px;
}

li {
  float: left;
  margin: auto 0;
  list-style: none;
  margin-right: 20px;
  color: white;
}

main {
  display: flex;
  width: 100%;
}
.box1 {
  width: 70%;
  height: 750px;
  margin: auto;
  background-color: aqua;
}
.box2 {
  width: 30%;
  height: 750px;
  margin: auto;
  background-color: skyblue;
}

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
}
.footer-text {
  display: flex;
}
.copyright {
  color: white;
}
.year {
  color: white;
  margin-left: 30px;
}